@import url('https://designsystem.gov.sg/css/sgds.css');
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

.trash-data * {
  font-size: 0.75rem !important;
}

.accordion-button span {
  width: 30%;
  line-height: 1;
}

.accordion-button span:nth-of-type(1) {
  font-weight: bold;
  font-size: 0.85rem;
}

.accordion-button span:nth-of-type(2),
.accordion-button span:nth-of-type(3) {
  text-align: center;
}

.icon--large {
  font-size: 5rem;
}

.transcription-box {
  height: 100%;
  resize: none;
}

.feedback-form {
  font-size: 2rem;
}

.feedback-form-button {
  background: none;
  border: none;
  color: #98a2b3;
  margin: 0;
}

.feedback-form:hover .feedback-form-button {
  color: #7e55e4;
}

.toast {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
  max-width: 90%;
}
